{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-0",
    "react"
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "rootPathSuffix": "src"
    }],
    "babel-plugin-styled-components",
    "add-react-displayname"
  ],
  "env": {
    "test": {
      "presets": [["env"], "stage-0", "react"],
      "plugins": [
        ["babel-plugin-root-import", {
          "rootPathSuffix": "src"
        }],
        "babel-plugin-styled-components"
      ],
    }
  }
}
